.mainContainer {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  /* background-color: white; */
  color: black;
  height: 100vh;
}

.codeBlockContainer {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-around;
}