.codeBlock {
  border: solid black 1px;
  width: 250px;
  height: 300px;
  color: black;
  text-decoration: none;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 10px;

}

.codeBlock a {
  text-decoration: none;
}

.codeBlock code {
  overflow: hidden;
  border: 1px solid black;
  padding: 5px;
  max-width: 100%;
}

